<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.planks.workout">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.health.READ_STEPS"/>
    <application android:label="Planks Workout">
        <activity android:name="app.planks.workout.PermissionsRationaleActivity"
                  android:exported="true">
            <intent-filter>
                <action android:name="androidx.health.ACTION_SHOW_PERMISSIONS_RATIONALE"/>
                <category android:name="android.intent.category.HEALTH_PERMISSIONS"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
